:root {
  --main1-color: #65c18c;
  --main2-color: #c1f4c5;
  --main3-color: #ffbed8;
  --main4-color: #ff7ba9;
}

.sectionMainInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionMainInfo h2 {
  width: 70%;
  font-size: 40px;
  font-weight: bold;
}

.sectionMainInfo p {
  width: 65%;
  padding-top: 32px;
  font-size: 14px;
}

/* section 1 */

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.mainPageinfo {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainPageinfo h1 {
  width: 80%;
  font-size: 96px;
  font-weight: bold;
}

.mainPageinfo h1 span {
  color: var(--main1-color);
}

.mainPageinfo p {
  padding-top: 32px;
  max-width: 750px;
  font-size: 14px;
}

.mainPageform {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formmain {
  width: 720px;
  height: 75px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  border: var(--main1-color) 2px solid;
}

.formIcon {
  font-size: 20px;
  display: flex;
  text-align: center;
}

.formIcon div {
  padding-left: 16px;
  padding-right: 16px;
}

.formButton {
  width: 155px;
  height: 75px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main1-color);
  font-size: 20px;
  color: #fff;
}

/* section 2 */

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section2Img img {
  max-width: 100%;
}

/* section 3 */

.section3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  margin: 16px auto;
}

.servicesInfo {
  width: 50%;
}

.servicesTites {
  text-align: start;
}

.servicesTites h2 {
  font-size: 40px;
  font-weight: bold;
  width: 70%;
}

.servicesTites p {
  width: 70%;
  padding-top: 32px;
  font-size: 14px;
}

.servicesBox {
  margin-top: 16px;
  width: 485px;
  height: 120px;
  border: var(--main1-color) 4px solid;
  border-radius: 8px;
  text-align: start;
}

.servicesBox p {
  font-size: 12px;
  opacity: 0.6;
  padding-left: 64px;
}

.titls {
  display: flex;
}

.titls span {
  font-size: 20px;
  margin-top: 16px;
}

.servicesNum {
  width: 32px;
  height: 32px;
  text-align: center;
  border: var(--main1-color) 2px solid;
  border-radius: 100%;
  font-size: 20px;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

/* section 4  */

.section4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.planHolder {
  margin-top: 128px;
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planBox {
  border: var(--main1-color) 4px solid;
  border-radius: 8px;
  height: 365px;
  width: 360px;
  margin: auto;
}

.planInfo span {
  color: #000;
  font-size: 20px;
  font-weight: 700;
}

.planInfo p {
  font-size: 12px;
  margin-top: 16px;
  padding: 16px;
}

.planIcon {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planIcon i {
  font-size: 100px;
  color: var(--main1-color);
}

/* section 5 */

/* servicesTites */
.section5 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.section5Imge {
  margin-top: 32px;
}
.section5Info {
  margin-top: 32px;
  width: 954px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section5Info div {
  padding: 8px;
  text-align: start;
  width: 225px;
  height: 80px;
  border-radius: 8px;
  border-left: var(--main1-color) 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

/* section 6  */
.section6 {
  width: 1195px;
  height: 620px;
  background-color: var(--main1-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section6Pernt {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section6Info {
  padding-left: 120px;
  padding-top: 64px;
  /* width: 70%; */
}
.section6titls {
  color: #fff;
}

.section6titls {
  text-align: start;
}

.section6titls h2 {
  font-size: 40px;
  font-weight: bold;
  /* width: 70%; */
}

.section6titls p {
  /* width: 70%; */
  padding-top: 16px;
  font-size: 14px;
}

.appInfo p {
  font-size: 12px;
}
.appDownloadQr {
  height: 100px;
  margin-top: 32px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.appDownloadBox {
  height: 100px;
  align-items: start;
}
.appDownloadBox div {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appDownloadBox div span {
  font-size: 20px;
}
.appDownloadBox div i {
  font-size: 30px;
  margin-right: 16px;
}
.qr i {
  font-size: 100px;
}
.section6Imeg {
  padding-right: 120px;
}

/* section 7  */

.section7 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section7Holder {
  margin-top: 32px;
}

.section7Box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section7Info {
  width: 50%;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 120px;
}
.section7Info p {
  text-align: start;
  margin-top: 32px;
  font-size: 14px;
}
.section7Info span {
  font-size: 20px;
}
.section7Info ul {
  padding: 0;
  text-align: start;
  list-style: none;
}
.section7Info ul li {
  font-size: 20px;
  opacity: 0.7;
}
.section7Img {
  width: 50%;
}
.section7Img img {
  width: 100%;
}
